doctype html
html
    head
        title Standard Model Database
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-1.11.2.min.js')
        script(src='/javascripts/scripts.js')
    body
        #main
            block content